@define-color background rgba(26, 46, 39,0);
@define-color second-background  rgba(26, 46, 39,0.1);
@define-color text rgba(230, 225, 187, 1);
@define-color borders  rgba(26, 46, 39,0.1);
@define-color focused #D08B57;
@define-color focused2 #BFAA80;
@define-color color1 #7699A3;
@define-color color2 #8D7AAE;
@define-color color3 #78997A;
@define-color urgent #B05A5A;


* {
    font-family: "Maple Mono";
    
}

window#waybar { 
    background-color: @background; 
}


.modules-left {
  border-radius: 10px;
    background-color: @second-background; 
    color: #E6F3FB;
  font-size: 12px;
  padding: 0px 10px;
}

.modules-center{
  border-radius:10px;
    background-color: transparent; 
    color: #E6F3FB;
    font-size: 12px;
  padding: 0px 10px;
}

.modules-right {
  border-radius:10px;
    color: #E6F3FB;
    font-size: 12px;
    background-color: @second-background; 
	padding: 0px 10px;
}

#custom-split{
  font-size: 10px;
  color: #A7896C;
}






    
#network{
  padding:0px;

}

#workspaces button {
  transition-duration: 800ms;
  all:initial;

    color: rgba(230, 225, 187, 0.2);
  padding:0px 2px;
      border-radius: 10px; /* This is the key for the pill shape */
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: red;
}
#workspaces button.active
{
  transition-duration: 400ms;
  opacity:1;
    background-color: #E6E1BB;
    color: transparent;
      border: none;
      padding: 2px 30px 2px 0px; /* Adjust padding as needed */
      font-size:2px;
      margin: 8px 6px;
      border-radius: 10px; /* This is the key for the pill shape */
}
